@page "/products/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3  class="card-title">Edit Product</h3>

<FormComponent ButtonText="Update" OnValidSubmit="EditGamingProduct" product="product" />

@code {
    [Parameter] public int id { get; set; }
    GamingProduct product = new GamingProduct();

    protected async override Task OnParametersSetAsync()
    {
        product = await _client.GetFromJsonAsync<GamingProduct>($"{Endpoints.GamingProductsEndpoint}/{id}");
    }

    async Task EditGamingProduct()
    {
        await _client.PutAsJsonAsync($"{Endpoints.GamingProductsEndpoint}/{id}", product);
        _navManager.NavigateTo("/products/");
    }
}
