@page "/addresses/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Add Customer</h3>
<hr />
<br />

<FormComponent ButtonText="Create Shipping Address" address="address" OnValidSubmit="@CreateShippingAddress" />

@code {

    ShippingAddress address = new ShippingAddress();

    private async Task CreateShippingAddress()
    {
        await _client.PostAsJsonAsync(Endpoints.ShippingAddressesEndpoint, address);
        _navManager.NavigateTo("/addresses/");
    }

}
