@page "/orderitems/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Add Order Item</h3>
<hr />
<br />

<FormComponent ButtonText="Create Order Item" orderitem="orderitem" OnValidSubmit="@CreateOrderItem" />

@code {

    OrderItem orderitem = new OrderItem();

    private IList<Order> Orders;
    private IList<GamingProduct> GamingProducts;

    protected async override Task OnInitializedAsync()
    {
        Orders = await _client.GetFromJsonAsync<List<Order>>($"{Endpoints.OrdersEndpoint}");
        GamingProducts = await _client.GetFromJsonAsync<List<GamingProduct>>($"{Endpoints.GamingProductsEndpoint}");
    }

    private async Task CreateOrderItem()
    {
        await _client.PostAsJsonAsync(Endpoints.OrderItemsEndpoint, orderitem);
        _navManager.NavigateTo("/orderitems/");
    }
}
