@page "/categories/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Add Category</h3>
<hr />
<br />

<EditForm Model="@category" OnValidSubmit="CreateCategory">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label>Category Name: </label>
        <div>
            <InputText @bind-Value="@category.CategoryName" class="form-control" />
            <ValidationMessage For="@(() => category.CategoryName)" />
        </div>
    </div>

    <button type="submit" class="btn btn-success btn-block">
        Create Category
    </button>

</EditForm>

    @code {

        Category category = new Category();

        private async Task CreateCategory()
        {
            await _client.PostAsJsonAsync(Endpoints.CategoriesEndpoint, category);
            _navManager.NavigateTo("/categories/");
        }

    }
