@page "/"

<head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body, h1, h2, h3, h4, h5 {
            font-family: "Poppins", sans-serif
        }

        body {
            font-size: 16px;
        }

        img {
            margin-bottom: -8px;
        }

        .mySlides {
            display: none;
        }
    </style>
</head>
<body class="w3-content" style="max-width:1500px;">

    <!-- !PAGE CONTENT! -->
    <div class="w3-content" style="max-width:1500px">

        <!-- Header -->
        <header class="w3-panel w3-center w3-light-grey" style="padding:128px 16px">
            <h1 class="w3-xlarge">Online Store</h1>
            <h1>GameHouse</h1>

            <div class="w3-padding-32">
                <div class="w3-bar w3-border">
                    <NavLink class="w3-bar-item w3-button" href="customers" Match="NavLinkMatch.All">Profile</NavLink>
                    <NavLink class="w3-bar-item w3-button" href="products" Match="NavLinkMatch.All">Games</NavLink>
                    <NavLink class="w3-bar-item w3-button" href="categories" Match="NavLinkMatch.All">Categories</NavLink>
                    <NavLink class="w3-bar-item w3-button" href="orders" Match="NavLinkMatch.All">Orders</NavLink>
                </div>
            </div>
        </header>
    </div>

        <!-- The App Section -->
        <div class="w3-padding-64 w3-white">
            <div class="w3-row-padding">
                <div class="w3-col l8 m6">
                    <h1 class="w3-jumbo"><b>GameHouse</b></h1>
                    <h1 class="w3-xxxlarge w3-text-red"><b>Why Us?</b></h1>
                    <p>
                        <span class="w3-xlarge">Play like a pro.</span> We are an officially licensed and globally recognized ecommerce website, and have been for the past 10 years of our business. After our
                        launch of our newest website GameHouse, we have received many praises for our services and the many games that we offer in our shop. We guarantee that you are able to receive the best
                        customer service and a myriad of games to choose and buy from. Have fun!
                    </p>
                    <NavLink href="orders" Match="NavLinkMatch.All">
                        <button class="w3-button w3-light-grey w3-padding-large w3-section w3-hide-small">Browse Available Games</button>
                    </NavLink>
                    <p>Games available for <i class="fa fa-android w3-xlarge w3-text-green"></i> <i class="fa fa-apple w3-xlarge"></i> <i class="fa fa-windows w3-xlarge w3-text-blue"></i></p>
                </div>
                <div class="w3-col l4 m6">
                    <img src="https://media.wired.com/photos/62587f18d7028e05e01ffbbe/1:1/w_1528,h_1528,c_limit/SteelSeries-Stratus-Plus-1-Gear.jpg" class="w3-image w3-right w3-hide-small" width="335" height="471">
                </div>
            </div>
        </div>
        <!-- Clarity Section -->
        <div class="w3-padding-64 w3-light-grey">
            <div class="w3-row-padding">
                <div class="w3-col l4 m6">
                    <img class="w3-image w3-round-large w3-hide-small w3-grayscale" src="https://img.freepik.com/free-psd/vr-video-game-composition_1419-2358.jpg" alt="App" width="335" height="471">
                </div>
                <div class="w3-col l8 m6">
                    <h1 class="w3-jumbo"><b>Gamers</b></h1>
                    <h1 class="w3-xxxlarge w3-text-red"><b>Come Together</b></h1>
                    <p>
                        <span class="w3-xlarge">Building a connected community.</span> Everyone in the gaming community whether it be a new, veteran or a professional are accepted into the GameHouse community,
                        so come along to our online website and have a once in a lifetime experience. Find your game for you and your friends, and have fun gaming as a massive community of gamers!
                    </p>
                </div>
            </div>
        </div>

</body>